[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Quicktile Daemon
Comment=Simulates compiz grid plugin under xfce4 environment
Exec=quicktile-daemon
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

